<!-- <app-emp-list></app-emp-list> -->
<!-- <app-emp-filter-salary></app-emp-filter-salary> -->
<!-- <app-user-list></app-user-list> -->
<!-- <app-product-list></app-product-list> -->
<app-fancy-card>
    <h1 heading>Employee Details</h1>
    <app-emp-list></app-emp-list>
</app-fancy-card>

<app-fancy-card>
    <h1 heading>Product Details</h1>
    <app-product-list></app-product-list>
</app-fancy-card>

<app-fancy-card>
    <h1 heading>Student info</h1>
    <app-student-info></app-student-info>
</app-fancy-card>