<h2>Performing CRUD</h2>
<input type="text"  [(ngModel)]="id"  placeholder="Student Id"  />
<input type="text"  [(ngModel)]="name"  placeholder="Student Name"  />
<input type="text"  [(ngModel)]="city"  placeholder="City Name"  />

<br/><br/>
<input type="button"  value="Get Students" (click)="getData_click()"  />
<input type="button"  value="Add Student" (click)="addData_click()"  />
<input type="button"  value="Update Student" (click)="updateData_click()"  />
<input type="button"  value="Clear Fields" (click)="clearFields()"  />
<hr/>

<table border="2" [cellSpacing]="0">
    <tr>
        <th>Student Id</th>
        <th>Student Name</th>
        <th>City Name</th>
    </tr>
    <tr *ngFor="let item of studentsArray">
        <td>{{item.studentId}}</td>
        <td>{{item.studentName}}</td>
        <td>{{item.studentCity}}</td>
    </tr>
</table>